* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

body {
    background: linear-gradient(90deg, rgb(124, 174, 194) 0%, rgb(209, 243, 223));
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #185f7a;
    background: linear-gradient(90deg, rgba(24, 95, 122, 1) 0%);
    z-index: 1;
}

ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;

}

li {
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
}

li:hover {
    color: rgb(17, 109, 55);
    background-color: rgba(237, 221, 83, 1);
    padding: 20px;
}

li:active {
    opacity: 0.8;
}

a {
    text-decoration: none;
}

.btn-icon {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(237, 221, 83, 1);

}

.btn-icon:hover {
    color: aliceblue;
}

.btn-list-mobile {
    font-size: 30px;
    border-radius: 10px;
    border: none;
    margin-left: 50px;
    background-color: rgba(237, 221, 83, 1);
    color: #2A7B9B;
    display: none;
}

.btn-list-mobile:hover {
    background-color: #6fa9c0;
}

main {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 71%, rgba(237, 221, 83, 1) 100%);
    overflow: hidden;
}

.container-main {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 80px;
    width: 100vw;
    height: auto;
    /*Define a autura para alinhar corretamente as imagens*/
}


.img-brasao {
    width: 70px;
    margin: 5px;
    cursor: pointer;
}

.img-banner-1,
.img-banner-2 {
    width: 450px;
    border-radius: 40px;
}

/* movimento de scroll */
.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 0.8s;
    transform: translateX(-100%);
}

/* classe que faz a ação final do scroll */
.show {
    opacity: 1;
    filter: blur(0);
    transition: all 0.6s;
    transform: translateX(0);
}





section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 40px;
    margin: 20px;
    color: rgb(2, 71, 31);
}

.section-1,
.section-2 {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;

}

.section-1 p,
.section-2 p {
    max-width: 100%;
    font-size: 18px;
    color: rgb(4, 47, 65);
    border: 1px solid #ffff;
    border-radius: 10px;
    padding: 20px;
    background-color: aliceblue;
}

.section-conheca {
    width: 400px;
    margin: 0 5px;
}

.section-1-2 {
    display: flex;
    align-items: normal;
}

.section-1-2 p {
    font-size: 16px;

}

.img-diacono {
    width: 220px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.container-paroco {
    background-color: #2a7b9b6e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 10px;
    width: 95%;
}

.container-paroco div {
    display: flex;
    padding: 20px 0px;
    gap: 20px;

}

.container-paroco img {
    width: 356px;
}

.section-4-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-4-img img {
    display: block;
    margin: 0 auto;
    border-radius: 50px;
}

.container-video-mp4 {
    display: flex;
    flex-direction: column;
}




.img-pe-pedro,
.img-dizimo,
.img-salao,
.img-banner-main {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    max-height: 600px;
    max-width: 400px;
    /* Configuração tamanho responsivo GG*/
}

.img-salao {
    width: 200px;
}



.img-seminaristas {
    width: 400px;
}

.edicao-font-size-span {
    font-size: 40px;
}

.edicao-font-size-strong {
    font-size: 50px;
}

.img-festividade-banner {
    width: 55%;
    transition: transform 0.3s ease;
    /* Transição suave */
    cursor: grab;
}

.img-festividade-banner:hover {
    transform: scale(1.2);
    /* Aumenta o tamanho em 20% */
}

.img-festividade-banner:active {
    cursor: grabbing;
}


strong {
    color: rgb(1, 29, 41);
}

span {
    color: rgb(207, 187, 3);
}

.section-3 p {
    max-width: 900px;
    font-size: 30px;
    color: rgb(4, 47, 65);
    margin: 20px;
}

.div-video {
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    border: solid 1px #185f7a;
    background-color: #185f7a;
    width: 100%;
}


.container-video {
    margin: 100px;
}

.container-rede-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa-radio {
    margin-right: 80px;
}

.container-radio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.btn-radio{
    font-weight: 600;
    background: rgba(237, 221, 83, 1);
    color: rgb(30, 143, 77);
    border: none;
    border-radius: 12px;
    padding: 5px;
    border: solid 5px rgb(30, 143, 77);
    cursor: pointer;
    transition: 0.3s;
    animation: loop .8s infinite;
}
.btn-radio:hover {
    background: rgb(30, 143, 77);
    color: aliceblue;
}
.btn-radio:active{
    opacity: 0.8;
}

@keyframes loop {
    0% {
        
        transform: translate(0px);
    }

    50% {
        
        transform: translate(10px);

    }

    100% {
        
        transform: translate(0px);

    }

}



footer {
    background: linear-gradient(90deg, rgba(24, 95, 122, 1) 0%, rgb(30, 143, 77) 100%, rgba(237, 221, 83, 1) 100%);


}

h4 {
    color: aliceblue;
    cursor: pointer;
}


.container-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin-bottom: 50px;
}


.cop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;

}

.cop p {
    color: aliceblue;
}



/* Menu mobile */


.menu-mobile {
    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 0;
    display: none;
    visibility: hidden;
    /*Não aparece em tela, aguarda o a função assionar para aparecer*/
    transition: 0.3s;
    overflow: hidden;
    margin-top: 40px;


}

.menu-mobile ul {
    display: block;
    padding: 20px 30px;
}


.btn-menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    border: none;

}

.edicao-font-size-span-2{
    font-size: 30px;
}


.btn-menu:hover {
    opacity: 0.9;
}

/* menu mobile */

@media screen and (max-width: 900px) {

    nav ul {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .btn-menu {
        display: block;
    }

    .menu-mobile.abrir {
        visibility: visible;
        height: calc(100vh - 0px);

    }


}

/*Efeito carrosel*/

.slider {
    background: linear-gradient(90deg, rgb(69, 156, 190) 0%, rgb(145, 241, 185) 100%, rgb(235, 232, 204) 100%);
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    /*Não deixa a mostra a tela de rolagem*/
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input,
.img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}
.img-carrosel{
height: 100vh;
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 50%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
    border: 1px solid rgb(11, 172, 11);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;


}

/*pseudo classe*/
.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: rgb(11, 172, 11);
}

#radio1:checked~.nav-auto .auto-btn1 {
    background-color: rgb(11, 172, 11);
}

#radio2:checked~.nav-auto .auto-btn2 {
    background-color: rgb(11, 172, 11);
}

#radio3:checked~.nav-auto .auto-btn3 {
    background-color: rgb(11, 172, 11);
}

#radio1:checked~.active {
    margin-left: 0%;
}

#radio2:checked~.active {
    margin-left: -25%;
}

#radio3:checked~.active {
    margin-left: -50%;
}


@media screen and (max-width: 450px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        margin: 0 auto;
    }

    .nav-auto,
    .nav-manual {
        margin-top: 60%;
    }
}


/* Responsividade MObile */

@media (max-width: 450px) {



    header ul {
        display: none;
    }

    .img-brasao {
        width: 50px;
        margin: 15px;
    }

    .btn-list-mobile {
        display: block;
    }


    .container-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        align-items: center;

    }

    .section-1,
    .section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 390px;
    }

    h2 {
        font-size: 25px;
        margin: 20px;
        color: rgb(2, 71, 31);
    }

    .section-1 p,
    .section-2 p {
        /* max-width: 35%; */
        font-size: 20px;
        color: rgb(4, 47, 65);
        border: 1px solid #ffff;
        border-radius: 10px;
        padding: 20px;
        background-color: aliceblue;
        margin: 1px 0;
    }

    .section-1-2 p {
        font-size: 16px;

    }

    .container-paroco div {
        flex-direction: column;
    }


    .img-seminaristas {
        width: 300px;
    }

    .img-folder {
        width: 370px;

    }

    .img-salao-none {
        display: none;
    }

    .edicao-font-size-span {
        font-size: 30px;
    }

    .edicao-font-size-span-2 {
        font-size: 16px;

    }

    .edicao-font-size-strong {
        font-size: 25px;
    }

    .img-banner-mobile {
        height: 693px;
    }

    .img-festividade-banner {
        width: 34%;
    }


    .div-video {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .container-video {
        margin: 50px;
    }

    .yt {
        width: 350px;
        border-radius: 10px;
    }

    .caixa-radio {
        align-items: center;
        justify-content: center;
        margin: 0px;
    }

    .container-radio {
        margin-bottom: 20px;
    }



    .section-3 p {
        max-width: 900px;
        font-size: 20px;
        color: rgb(4, 47, 65);
        margin: 20px;
    }

    .container-footer {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .container-footer {
        display: flex;
        padding-top: 50px;
        margin-bottom: 50px;
        margin-left: 20px;

    }

    .container-rede-social {
        margin: 25px 0;
    }

    .cop {
        font-size: 15px;
        padding: 5px 45px;
    }

    .nav-auto,
    .nav-manual {
        margin-top: 160%;
    }



}


/* responsivo para Tablet */
@media (min-width: 768px) and (max-width: 1024px) {


    header ul {
        display: none;
    }




    .section-1 p,
    .section-2 p {
        max-width: 95%;
    }

    .btn-list-mobile {
        display: block;

    }

    .container-main {
        width: 100%;

    }


    .btn-list-mobile {
        margin-left: 150px;

    }





}